body {
	background: white

}
header{
	background: blue;
	color: purple;
	padding: 0px 15px;
}
nav h1{
	margin: 1;
	display: inline;
	padding: 0 0 0 15px;
	}
	nav ul {
	margin: 1;
	padding: 0 0 0 15px;
	display: inline;
	width: 10%;


}
nav ul li{
	margin: 1;
	display: inline-block;
	padding: 5px 15px;
	list-style-type: none;

}
nav ul li a {
	color: purple;

}
img{
	border-image-width: 30%;
}
